h1{
    color:#adad85;
    text-align: center;
    font-family: Georgia;
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

body{
    background-image: url("http://i68.tinypic.com/jzur2a.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}